@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light, dark;
}




body {
    font-family: 'Roboto', sans-serif;
}

.nunito-font {
    font-family: 'Nunito Sans', sans-serif;
}


/* .custom-prev,
.custom-next {
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */