@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light, dark;
}


body {
    font-family: 'Roboto', sans-serif;
}

.nunito-font {
    font-family: 'Nunito Sans', sans-serif;
}




/* @media print {
    body {
        background: white !important;
        color: black !important;
    }

    .invoice-container {
        padding: 20px !important;
        background-color: white !important;
        color: black !important;
    }
} */